<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= id %> Profile</title>
    <link rel="stylesheet" href="/profile.css" />
  </head>
  <body>
    <img style="width: 100%" src="../<%= id %>/banner.png" />

    <img
      class="profile-img"
      src="../<%= id %>/profile.png"
      alt="Profile Image"
    />

    <h1 class="main-title"><%= titleText %></h1>

    <div class="container">
      <div><%- descText %></div>
    </div>
    <div class="center-content">
      <div class="grid-container">
        <% htmlBioContent.forEach(item => { %>
        <p class="grid-item"><%- item %></p>
        <%});%>
      </div>
      <img src="../<%= id %>/image1.png" />
    </div>

    <div class="bottom-area">
      <img src="../<%= id %>/image2.png" class="endImg" />
      <div>
        <h2 class="title-Endorsement">ENDORSEMENT</h2>
        <p class="flex-container-Endorsement"><%- text1Text %></p>
        <p class="flex-container-Endorsement"><%- text2Text %></p>
        <p class="flex-container-Endorsement"><%- text3Text %></p>
        <p class="flex-container-Endorsement"><%- text4Text %></p>
        <p class="flex-container-Endorsement"><%- text5Text %></p>
      </div>
    </div>
  </body>
</html>
