<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= id %> Profile</title>
    <link rel="stylesheet" href="/profile.css" />
  </head>
  <body>
    <h1 class="centered-text"><%= id %> Profile</h1>
    <img style="width: 100%" src="../<%= id %>/banner.png" />

    <img
      class="profile-img"
      src="../<%= id %>/profile.png"
      alt="Profile Image"
    />

    <div class="container">
      <section>
        <div><%- titleText %></div>
      </section>
    </div>
    <div class="center-content">
      <div><%- bioText %></div>
      <img src="../<%= id %>/image1.png" />
    </div>

    <div class="bottom-area">
      <img src="../<%= id %>/image2.png" />
      <div>
        <p class="flex-container-Endorsement"><%- text1Text %></p>
        <p class="flex-container-Endorsement"><%- text2Text %></p>
        <p class="flex-container-Endorsement"><%- text3Text %></p>
        <p class="flex-container-Endorsement"><%- text4Text %></p>
        <p class="flex-container-Endorsement"><%- text5Text %></p>
      </div>
    </div>
  </body>
</html>
